.App {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.distList{
  width: 100%;
  /* background-color: rgb(202, 200, 200); */
}
.chatItem{
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  margin: 0 2px 2px 1px;
  width: max-content;
  display: inline-block;
  cursor: pointer;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.selectedDist{
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
}
.chatWindow{
  padding: 2px;
  border: 1px solid rgba(71, 53, 5, 0.918);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  place-content: space-around;
}
.messageInBubble{
  border: 1px solid rgb(72, 73, 69);
  padding: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(5, max-content);
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 5px;
  height: fit-content;
  width: 400px;
  max-width: 100vw;
  box-sizing: border-box;
  row-gap: 4px;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.48);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(0, 0, 0, 0.33);  
  color: #fff;
}
.centerTitle{
  grid-row: 1/2;
  grid-column: 1/9;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 7fr 1fr;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.centerName{
  font-size: large;
  grid-row: 1/2;
  grid-column: 1/8;
  text-align: left;
  text-shadow: #aca9a9 1px 1px;
  /* position: -webkit-sticky;
  position: sticky; */
}
.centerAddress{
  grid-row: 2/3;
  grid-column: 1/9;
  text-align: left;
}
.centerFee{
  grid-row: 1/2;
  grid-column: 8/9;
}
.redText{
  color: #ff6b6b;
}
.greenText{
  color: rgb(21, 146, 21);
}
.feeContainer{
  grid-column: 1/9;
}
.sessionContainer{
  grid-column: 1/9;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, max-content);
  border: 1px dashed gray;
  margin-bottom: 5px;
  padding: 5px;
  row-gap: 4px;
}
.slotContainer{
  overflow: auto;
  grid-row: 3/4;
  grid-column: 1/9;
}
.availableBG{
  /* From https://css.glass */
  background: rgba(71, 255, 86, 0.48);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px); */
  border: 1px solid rgba(71, 255, 86, 0.33);  color: #fff;
}
.notAvailableBG{
  /* From https://css.glass */
  background: rgba(255, 71, 71, 0.48);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px); */
  border: 1px solid rgba(255, 71, 71, 0.33);  color: #fff;
}
.vaccineDate{
  grid-row: 1/2;
  grid-column: 1/9;
  text-align: left;
  font-weight: 600;
}
.vaccineName{
  grid-row: 1/2;
  grid-column: 1/9;
  text-align: right;
}
.vaccineCapacity{
  grid-row: 2/3;
  grid-column: 1/9;
  text-shadow: #7a7878 1px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slotTime{
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  display: inline-block;
  width: fit-content;
  font-size: small;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 800px) {
    .chatWindow{
      grid-template-columns: repeat(auto-fit, 400px);
    }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
